<div class="container-fluid">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-default panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Employee Info</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <table class="table">
            <tr>
              <td class="col-lg-2">Id :</td>
              <td class="col-lg-10">{{ employeeInfo.Id }}</td>
            </tr>
            <tr>
              <td class="col-lg-2">Name :</td>
              <td class="col-lg-10">{{ employeeInfo.Name }}</td>
            </tr>
            <tr>
              <td class="col-lg-2">Role :</td>
              <td class="col-lg-10">{{ employeeInfo.Role }}</td>
            </tr>
            <tr>
              <td class="col-lg-2">Technology :</td>
              <td class="col-lg-10">{{ employeeInfo.Technology }}</td>
            </tr>
            <tr>
              <td class="col-lg-2">Project :</td>
              <td class="col-lg-10">{{ employeeInfo.Project }}</td>
            </tr>
            <tr>
              <td class="col-lg-2">DOJ :</td>
              <td class="col-lg-10">{{ employeeInfo.DOJ }}</td>
            </tr>
            <tr>
              <td class="col-lg-2">Rating :</td>
              <td class="col-lg-10"><fai-ratings [rating]='employeeInfo.Rating' (ratingClicked)='onRatingClicked($event)'></fai-ratings></td>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
